
<%- include('./tmp/header') -%>
<h1>All Skills</h1>

<div id="myskills">

  <div class="topDel"><img src="https://www.pngfind.com/pngs/m/275-2755033_edit-png-file-on-phone-svg-edit-icon.png" width="10px" height="auto"></div>
  <div class="top">Skill</div>
    <div class="top">Experience</div>
    <div class="top">Completed Projects</div>
    <div class="top">Last Used In</div>
    <div class="topIcon">&nbsp;</i></div>
    <div class="topDel"><img src="https://www.clipartmax.com/png/small/219-2194818_trash-can-vector-trash-can-icon-png.png" width="10px" height="auto"></div>
  </div>

        <% skills.forEach(function(t) { %>
          
            <div id="myskills">
                 <div class="delete"><a href="/skills/<%= t.id %>/edit"><i class="fas fa-edit"></i></a></div>
                <div><a href="/skills/<%= t.id %>"><b><%= t.skill %></b></a></div>
                <div class="years"><%= t.years %> <% if(t.years > 1){ %> Years <% } else { %>Year <% } %></div>
                <div class="project"><%= t.project %></div>
                <div class="project"><%= t.lastUsed %></div>
                <div class="icon"><i class="<%= t.icon %>"></i></div>
                <div class="delete"><form action="/skills/<%= t.id %>?_method=DELETE" method="POST">
                <button type="submit" class="smallBtn">&nbsp;<i class="fas fa-trash-alt"></i></button>
                </form></div>
          
              </div>

        <% }); %>
 
        
  <a href="/skills/new"><button class="back">ADD NEW SKILL</button></a>
      


<%- include('./tmp/footer') -%>
