<%- include('./tmp/header') -%>

<h1>Skill Details</h1>


        <div id="myskills">
            <div>Skill : <%= skill.skill %></div>
          </div>
          <div id="myskills">
            <div>Experience : <%= skill.years %> Years Experience</div>
          </div>
          <div id="myskills">
            <div>Completed Projects : <%= skill.project %> </div>
          </div>
          <div id="myskills">
            <div>Sample Link : <a href="<%= skill.sample %>" target="_blank"><%= skill.sample %></a></div>
          </div>
          <div id="myskills">
            <div>Contact : <a href="mailto:mhepekiz@protonmail.com" target="_blank">Send An Email</a> about <%= skill.skill %></div>
          </div>
          <div id="myskills"></div>
            <div class="backto"><a href="/skills"><button class="back">BACK TO MAIN PAGE</button></a></div>
          </div>


<%- include('./tmp/footer') -%>
